body {
    background-color: orangered;
}

.navbar-header a{
    color: white;
    float: left;
    text-decoration: none;
}

.register-box{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.register-box h1{
    float: center;
    font-size: 40px;
    border-bottom: 3px solid;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}


.textbox i{
    float: right;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
}


.btn{
    width: 100%;
    background: none;
    border: 1px solid;
    color: white;
    margin: 12px 0;
}

.btn:hover{
    background: white;
    color: orangered;
}